@import url("https://fonts.googleapis.com/css?family=Vollkorn");
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}
a,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
  text-decoration: none;
  color: #fff;
}
@font-face {
  font-family: "Unica One";
  src: url("/UnicaOne-Regular.ttf");
}
@media screen and (max-width: 480px) {
  .wrap {
    margin-top: 5rem;
  }
  .content-outer {
    width: 100%;
  }
  .menu-outer {
    display: none;
  }
  .header-pc {
    display: none !important;
  }
}
@media screen and (min-width: 480px) {
  .wrap {
    height: 100vh;
  }
  .content-outer {
    flex: 2;
  }
  .menu-outer {
    flex: 1;
  }
  .header-mobile {
    display: none !important;
  }
}
.wrap {
  display: flex;
}
.content-outer {
  padding: 2em;
  overflow: auto;
}
.menu-outer {
  background: #ff6347;
  font-family: 'Unica One', sans-serif;
  overflow: auto;
}
.header {
  font-family: 'Unica One', sans-serif;
}
.header-pc {
  display: flex;
  justify-content: space-between;
}
.header-pc .logo {
  height: 10rem;
}
.header-pc .github {
  width: 32px;
  height: 32px;
  background: url("/github-light.png") no-repeat;
  background-size: cover;
}
.header-pc .github:hover {
  background: url("/github-dark.png") no-repeat;
  background-size: cover;
}
.header-mobile {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 4.8rem;
  background: #ff6347;
  box-shadow: 0 1px 4px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
}
.header-mobile .item {
  padding: 0 1em;
  line-height: 4.8rem;
  height: 4.8rem;
  white-space: nowrap;
  vertical-align: middle;
}
.header-mobile .item:active {
  background: #ff5537;
}
.header-mobile .cur {
  background: #ff5537;
}
.brief {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}
.brief .avatar {
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 2px #000;
}
.brief .quote {
  color: #fff;
  text-align: center;
}
.brief .link {
  width: 100%;
  text-align: center;
}
.brief .link a {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1em;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 2px #000;
  border-radius: 50%;
}
.brief .link .weibo {
  background-image: url("/weibo-icon.png");
}
.brief .link .twitter {
  background-image: url("/twitter-icon.png");
}
.brief .link .zhihu {
  background-image: url("/zhihu-icon.png");
}
.brief .link .github {
  background-image: url("/github-icon.png");
}
nav {
  margin: 2em;
}
nav .item {
  display: block;
  text-align: center;
  padding: 1em;
  border: 1px solid #ff4726;
  border-top: 0;
}
nav .item:first-child {
  border-top: 1px solid #ff4726;
}
nav .item:hover {
  background: #ff5537;
}
nav .cur {
  background: #ff5537;
}
footer {
  margin-top: 3em;
  font-family: 'Vollkorn', serif;
  text-align: center;
}
footer p {
  font-size: 1.7rem;
  padding: 0 1em;
}
footer a {
  text-decoration: underline;
}
