@import url("https://fonts.googleapis.com/css?family=Vollkorn");
@import url("https://fonts.googleapis.com/css?family=Unica+One");
figure.highlight.js table:before {
  content: "js";
}
figure.highlight.javascript table:before {
  content: "javascript";
}
figure.highlight.python table:before {
  content: "python";
}
figure.highlight.ruby table:before {
  content: "ruby";
}
figure.highlight.xml table:before {
  content: "xml";
}
figure.highlight.html table:before {
  content: "html";
}
figure.highlight.css table:before {
  content: "css";
}
figure.highlight.perl table:before {
  content: "perl";
}
figure.highlight.sql table:before {
  content: "sql";
}
figure.highlight.coffeescript table:before {
  content: "coffeescript";
}
figure.highlight.java table:before {
  content: "java";
}
figure.highlight.scala table:before {
  content: "scala";
}
figure.highlight.kotlin table:before {
  content: "kotlin";
}
figure.highlight.c table:before {
  content: "c";
}
figure.highlight.c\+\+ table:before {
  content: "c\+\+";
}
figure.highlight.go table:before {
  content: "go";
}
figure.highlight.less table:before {
  content: "less";
}
figure.highlight.sass table:before {
  content: "sass";
}
figure.highlight.scss table:before {
  content: "scss";
}
figure.highlight.stylus table:before {
  content: "stylus";
}
figure.highlight.styl table:before {
  content: "styl";
}
figure.highlight.typescript table:before {
  content: "typescript";
}
figure.highlight.ts table:before {
  content: "ts";
}
figure.highlight.bash table:before {
  content: "bash";
}
figure.highlight.yml table:before {
  content: "yml";
}
figure.highlight.gradle table:before {
  content: "gradle";
}
article figure pre,
article .highlight {
  overflow: auto;
  margin: 1rem 0;
  padding: 0;
  padding-top: 1.4rem;
  background: #263238;
  color: #eff;
  font-size: 0.9rem;
  line-height: $line-height-code-block;
}
figure.highlight {
  position: relative;
}
article figure pre,
article figure code {
  font-family: $code-font !important;
}
article figure code {
  padding: 0.1rem 0.2rem;
  background: $code-background;
  color: $code-foreground;
  word-wrap: break-word;
}
article figure pre code {
  padding: 0;
  background: none;
  color: #eff;
  text-shadow: none;
}
article .highlight {
  position: relative;
  border-radius: 1px;
}
article .highlight:after {
  position: absolute;
  top: 0;
  z-index: 0;
  min-width: 100%;
  height: 1.4rem;
  background: #1c2429;
  content: "";
}
article .highlight pre {
  margin: 0;
  padding: 8px 0;
  border: none;
}
article .highlight .line::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
article .highlight table {
  position: relative;
  margin: 0;
  width: auto;
  border: none;
}
article .highlight table:before {
  position: fixed;
  z-index: 1;
  display: inline-block;
  margin-top: -1.4rem;
  padding: 0 0.7rem;
  width: 5rem;
  color: #eff;
  content: "Code";
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
article .highlight table:after {
  position: absolute;
  top: -1.4rem;
  z-index: 0;
  width: 100%;
  height: 1.4rem;
  background: #1c2429;
  content: "";
}
article .highlight td {
  padding: 0;
  border: none;
}
article .highlight figcaption {
  margin-bottom: 1em;
  color: #eff;
  font-size: 1em;
  line-height: 1em;
}
article .highlight figcaption a {
  float: right;
  color: #eff;
}
article .highlight figcaption a:hover {
  border-bottom-color: #eff;
}
article .highlight .gutter pre {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #263238;
  color: #37474f;
  text-align: right;
}
article .highlight .code pre {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
  background-color: #263238;
}
article .highlight .line {
  height: 1rem;
}
article .gutter {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
article .gist table {
  width: auto;
}
article .gist table td {
  border: none;
}
article pre .deletion {
  background: #008000;
}
article pre .addition {
  background: #800000;
}
article pre .meta {
  color: #c792ea;
}
article pre .comment {
  color: #546e7a;
}
article pre .comment::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
article pre .variable,
article pre .attribute,
article pre .regexp,
article pre .ruby .constant,
article pre .xml .tag .title,
article pre .xml .pi,
article pre .xml .doctype,
article pre .html .doctype,
article pre .css .id,
article pre .tag .name,
article pre .css .class,
article pre .css .pseudo {
  color: #ff5370;
}
article pre .variable::selection,
article pre .attribute::selection,
article pre .regexp::selection,
article pre .ruby .constant::selection,
article pre .xml .tag .title::selection,
article pre .xml .pi::selection,
article pre .xml .doctype::selection,
article pre .html .doctype::selection,
article pre .css .id::selection,
article pre .tag .name::selection,
article pre .css .class::selection,
article pre .css .pseudo::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
article pre .tag {
  color: #89ddff;
}
article pre .tag::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
article pre .number,
article pre .preprocessor,
article pre .literal,
article pre .params,
article pre .constant,
article pre .command {
  color: #f78c6c;
}
article pre .number::selection,
article pre .preprocessor::selection,
article pre .literal::selection,
article pre .params::selection,
article pre .constant::selection,
article pre .command::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
article pre .built_in {
  color: #ffcb6b;
}
article pre .built_in::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
article pre .ruby .class .title,
article pre .css .rules .attribute,
article pre .string,
article pre .value,
article pre .inheritance,
article pre .header,
article pre .ruby .symbol,
article pre .xml .cdata,
article pre .special,
article pre .number,
article pre .formula {
  color: #c3e88d;
}
article pre .ruby .class .title::selection,
article pre .css .rules .attribute::selection,
article pre .string::selection,
article pre .value::selection,
article pre .inheritance::selection,
article pre .header::selection,
article pre .ruby .symbol::selection,
article pre .xml .cdata::selection,
article pre .special::selection,
article pre .number::selection,
article pre .formula::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
article pre .keyword,
article pre .title,
article pre .css .hexcolor {
  color: #89ddff;
}
article pre .keyword::selection,
article pre .title::selection,
article pre .css .hexcolor::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
article pre .function,
article pre .python .decorator,
article pre .python .title,
article pre .ruby .function .title,
article pre .ruby .title .keyword,
article pre .perl .sub,
article pre .javascript .title,
article pre .coffeescript .title {
  color: #82aaff;
}
article pre .function::selection,
article pre .python .decorator::selection,
article pre .python .title::selection,
article pre .ruby .function .title::selection,
article pre .ruby .title .keyword::selection,
article pre .perl .sub::selection,
article pre .javascript .title::selection,
article pre .coffeescript .title::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
article pre .tag .attr,
article pre .javascript .function {
  color: #c792ea;
}
article pre .tag .attr::selection,
article pre .javascript .function::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
html {
  font-family: 'Vollkorn', sans-serif;
  font-size: 62.5%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #404040;
}
a,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .wrap {
    margin-top: 5rem;
  }
  .content-outer {
    width: 100%;
  }
  .menu-outer {
    display: none;
  }
  .header-pc {
    display: none !important;
  }
}
@media screen and (min-width: 480px) {
  .wrap {
    height: 100vh;
  }
  .content-outer {
    flex: 2;
  }
  .menu-outer {
    flex: 1;
  }
  .header-mobile {
    display: none !important;
  }
}
.wrap {
  display: flex;
}
.content-outer {
  padding: 1em 2em 0 2em;
  overflow: auto;
}
.menu-outer {
  background: #ff6347;
  font-family: 'Unica One', cursive;
  overflow: auto;
}
.menu-outer a {
  color: #fff;
}
.header {
  font-family: 'Unica One', cursive;
}
.header a {
  color: #fff;
}
.header-pc {
  display: flex;
  justify-content: space-between;
}
.header-pc .logo {
  height: 10rem;
}
.header-pc .github {
  width: 32px;
  height: 32px;
  background: url("/github-light.png") no-repeat;
  background-size: cover;
}
.header-pc .github:hover {
  background: url("/github-dark.png") no-repeat;
  background-size: cover;
}
.header-mobile {
  z-index: 10000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 4.8rem;
  background: #ff6347;
  box-shadow: 0 1px 4px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
}
.header-mobile .header-item {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 1em;
  line-height: 4.8rem;
  height: 4.8rem;
  white-space: nowrap;
  vertical-align: middle;
}
.header-mobile .header-item:active {
  background: #ff5537;
}
.header-mobile .cur {
  background: #ff5537;
}
.brief {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}
.brief .avatar {
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 2px #000;
}
.brief .quote {
  color: #fff;
  text-align: center;
}
.brief .link {
  width: 100%;
  text-align: center;
}
.brief .link a {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1em;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 2px #000;
  border-radius: 50%;
}
.brief .link .weibo {
  background-image: url("/weibo-icon.png");
}
.brief .link .twitter {
  background-image: url("/twitter-icon.png");
}
.brief .link .zhihu {
  background-image: url("/zhihu-icon.png");
}
.brief .link .github {
  background-image: url("/github-icon.png");
}
nav {
  margin: 2em;
}
nav .item {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  padding: 1em;
  border: 1px solid #ff4726;
  border-top: 0;
}
nav .item:first-child {
  border-top: 1px solid #ff4726;
}
nav .item:hover {
  background: #ff5537;
}
nav .cur {
  background: #ff5537;
}
footer {
  margin-top: 3em;
  font-family: 'Vollkorn', serif;
  text-align: center;
}
footer p {
  font-size: 1.7rem;
  padding: 0 1em;
}
footer a {
  text-decoration: underline;
}
