.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page-number {
  text-decoration: none;
  color: #aaa;
  margin: 0 0.5em;
}
.pagination .page-number:hover {
  color: #ff6347;
}
.pagination .current {
  color: #ff6347;
  border-bottom: 1px solid #ff6347;
}
.pagination .extend {
  padding-top: 0.5em;
}
.pagination .pagi {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-size: cover;
  background-position: 0% center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.pagination .icon-prev {
  background-image: url("/previous.png");
}
.pagination .icon-prev:hover {
  background-image: url("/previous-chosen.png");
}
.pagination .icon-next {
  background-image: url("/next.png");
}
.pagination .icon-next:hover {
  background-image: url("/next-chosen.png");
}
