.hide {
  display: none;
}
.menu-outer {
  background: #ff6347;
  font-family: 'Unica One', cursive;
  overflow: auto;
}
.menu-outer a {
  color: #fff;
}
.brief {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}
.brief .avatar {
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 2px #000;
}
.brief .quote {
  color: #fff;
  text-align: center;
}
.brief .link {
  width: 100%;
  text-align: center;
}
.brief .link a {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1em;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 2px #000;
  border-radius: 50%;
}
.brief .link .weibo {
  background-image: url("/weibo-icon.png");
}
.brief .link .twitter {
  background-image: url("/twitter-icon.png");
}
.brief .link .zhihu {
  background-image: url("/zhihu-icon.png");
}
.brief .link .github {
  background-image: url("/github-icon.png");
}
nav {
  margin: 2em;
}
nav .item {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  padding: 1em;
  border: 1px solid #ff4726;
  border-top: 0;
}
nav .item:first-child {
  border-top: 1px solid #ff4726;
}
nav .item:hover {
  background: #ff5537;
}
nav .cur {
  background: #ff5537;
}
footer {
  margin-top: 3em;
  font-family: 'Vollkorn', serif;
  text-align: center;
}
footer p {
  font-size: 1.7rem;
  padding: 0 1em;
}
footer a {
  text-decoration: underline;
}
.catalog {
  text-align: center;
  color: #fff;
}
.toc li {
  list-style: none;
}
.switch-container {
  text-align: center;
  margin-top: 2em;
}
.switch-container .switch {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid #ff4726;
  cursor: pointer;
  background: #ff5537;
  transition: all 0.2s ease-out;
  margin: 0 auto;
  color: #fff;
  user-select: none;
}
.switch-container .switch:hover {
  background: #fff;
  color: #ff6347;
}
